@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.footer{
    bottom: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.474);
    width: 90%;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 10px;
}
